.honda-header-bg-color{
    background-color: #264653;
}
.honda-btn-bg-color{
    background-color: #E76F51;
}
.header-img img{
    width: 550px;
    height: 440px;
}
.honda-fetuere-bike-image{
    width: 300px;
    height: 250px;
}
.honda-fetuere-bike-grayimage{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}