.honda-header-bg-color{
    background-color: #264653;
}
.honda-text-size{
    font-size: 48px;
}
.honda-btn-bg-color{
    background-color: #E76F51;
}
.header-img img{
    width: 550px;
    height: 440px;
}
.honda-fetuere-bike-image{
    width: 300px;
    height: 250px;
}
.honda-text-color{
    color: #E76F51;
}
.honda-fetuere-bike-grayimage{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.honder-client-card{
    width: 300px;
    height: 450px;
}
.honder-client-card-image{
    width: 150px;
    height: 150px;
}
.honda-client-star-color{
    color: #E77C40;
}
.honder-client-name{
    color: #23A6F0;
}
.honda-faq-image{
    width: 430px;
    height: 420px;
}
.honda-card-hover:hover{
    padding: 10px;
    box-shadow: 10px 0 14px -4px #999, -6px 0 4px -4px #999; 
    -moz-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999; 
    -webkit-box-shadow: 6px 0 14px -4px #999, -6px 0 14px -4px #999;
}
.honda-text-justify{
    text-align: justify;
}
.honda-card-image-size{
    width: 250px;
    height: 250px;
}
.honda-youtube-video-size{
    width: 500px;
    height: 350px;
}
/* small device */
@media only screen and (max-width: 600px) {
    .honda-youtube-video-size{
      width: 300px;
      height: 200px;
    }
  }